/* * {
	font-family: "Alata", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 */

.hero {
	position: relative;
}

.hero__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 2rem 1.5rem;
	max-width: 1112px;
	margin: 0 auto;
}

.hero__logo {
	max-width: 160px;
}

.hero__nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 1.5rem;
	background-color: hsl(0, 0%, 0%);
	transform: translateX(100%);
	transition: transform 0.25s ease-in-out;
	z-index: 10;
}

.hero__nav.open {
	transform: translateX(0);
}

.hero__nav__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__nav__top__logo {
	max-width: 160px;
}

.hero__nav__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	padding: 0;
	height: 100%;
}

.hero__nav__list__item {
	margin-bottom: 1rem;
}

.hero__nav__list__item__link {
	font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-decoration: none;
	font-size: 1.25em;
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
}

.hero__mobile-img {
	width: 100%;
	height: 100%;
}

.hero__desktop-img {
	display: none;
}

.hero__principle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	max-width: 1112px;
	height: fit-content;
}

.hero__principle__title {
	font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 400;
	line-height: 1em;
	padding: 1.25rem;
	margin: 1.5rem;
	border: 2px solid hsl(0, 0%, 100%);
	color: hsl(0, 0%, 100%);
}

.loopstudios__main {
  position: relative;
	padding: 0 1.5rem;
  margin: 1.25rem 0;
	max-width: 1160px;
	margin: 0 auto;
}

.main__visual {
	padding: 2rem 1rem;
	text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.main__image-desktop {
  display: none;
}

.main__heading {
	font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 1rem;
}

.main__description {
	font-family: "Alata", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: hsl(0, 0%, 55%);
}

.creations {
	padding: 0 1.5rem;
	text-align: center;
	font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	text-transform: uppercase;
	margin-bottom: 8rem;
	width: fit-content;
	margin: 0 auto 6rem;
}

.creations__heading {
	font-size: 2em;
	letter-spacing: 0.05em;
}

.creations__link {
	font-family: "Alata", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding: 0.5rem 2rem;
	letter-spacing: 0.25em;
	text-decoration: none;
	border: 2px solid hsl(0, 0%, 0%);
	color: hsl(0, 0%, 0%);
  transition: color .25s ease, background-color .25s ease;
}

.creations__link:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}

.creations__link.top-link {
	display: none;
}

.creations__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	padding: 2.5rem 0;
}

.creations__article {
	position: relative;
	width: fit-content;
}

.creations__article__img.desktop {
	display: none;
}

.creations__article__title-container {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: linear-gradient(
		90deg,
		hsla(0, 0%, 0%, 0.7) 0%,
		hsla(0, 0%, 100%, 0) 75%
	);
	transition: background-color .25s ease;
}

.creations__article__title {
	text-align: start;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
	max-width: 50%;
	line-height: 1em;
	font-weight: 300;
	font-size: 1.5em;
	color: hsl(0, 0%, 100%);
}

footer {
	font-family: "Alata", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding: 3rem 2rem;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 0%);
}

.footer__info {
	text-align: center;
}

.footer__logo {
	margin: 0 auto;
	max-width: 160px;
}

.footer__nav__list {
	list-style: none;
	padding: 0;
	margin: 2rem 0;
}

.footer__nav__list__item {
	margin: 2rem 0;
}

.footer__nav__list__item a {
	text-decoration: none;
	color: hsl(0, 0%, 100%);
}

.footer__socials {
	text-align: center;
}

.footer__social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	list-style: none;
	padding: 0;
}

.footer__copyright {
	margin: 2rem 0;
	color: hsl(0, 0%, 55%);
}

.attribution {
	font-size: 14px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 720px) {
	.hero__nav {
		position: absolute;
		padding: 2rem 0;
		transform: translateX(0);
		background-color: initial;
	}

	.hero__container {
		padding: 2rem 0;
	}

	.hero__nav__top {
		display: none;
	}

	.hero__nav__list {
		flex-direction: row;
		justify-content: flex-end;
		gap: 2rem;
	}

	.hero__nav__list__item__link {
    position: relative;
		font-family: "Alata", system-ui, -apple-system, BlinkMacSystemFont,
			"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
			"Helvetica Neue", sans-serif;
      font-size: 1em;
      padding: .5rem 0;
      text-transform: capitalize;
	}

  .hero__nav__list__item__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
		max-width: 2rem;
    height: 3px;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    transition: width .25s ease;
  }

  .hero__nav__list__item__link:hover::after {
    width: 100%;
  }

	.hero__menu-icon {
		display: none;
	}

	.hero__mobile-img {
		display: none;
	}

	.hero__desktop-img {
		display: initial;
		width: 100%;
		height: auto;
	}

	.hero__principle {
		margin: auto;
	}

	.hero__principle__title {
		display: block;
		font-size: 5em;
    margin-top: 12rem;
		margin-right: 40%;
		margin-left: 0;
	}

  .main__image-mobile {
    display: none;
  }

  .main__image-desktop {
    display: initial;
  }

  .loopstudios__main {
    margin: 4rem auto;
  }

  .main__image-desktop {
    height: 100%;
  }

  .main__visual {
    position: absolute;
    text-align: start;
    padding: 0;
    bottom: 0;
    right: 0;
    padding: 5rem 0 0 5rem;
    width: fit-content;
    max-width: 560px;
  }

  .main__heading {
    font-size: 3em;
    line-height: 1.2em;
  }

	.creations__top {
		display: flex;
		justify-content: space-between;
	}

	.creations__link.top-link {
		display: initial;
	}

	.creations__grid {
		grid-template-columns: repeat(4, 260px);
		place-content: center;
	}

	.creations__article__img.mobile {
		display: none;
	}

	.creations__article__img.desktop {
		display: initial;
		height: 100%;
	}

	.creations__article {
		cursor: pointer;
	}

	.creations__article:hover .creations__article__title {
		color: hsl(0, 0%, 0%);
	}

	.creations__article__title {
		transition: color .25s ease;
	}

	.creations__article__title {
		max-width: 100%;
		padding: 2rem;
		font-size: 2em;
	}

	.creations__link.bottom-link {
		display: none;
	}

	.creations__article:hover .creations__article__title-container {
		background-color: hsl(0, 0%, 100%, .75);
		background-image: none;
	}

	footer {
		padding: 3rem 6rem 0;
	}

	.footer__container {
		display: flex;
		justify-content: space-between;
		max-width: 1112px;
		margin: auto;
	}

	.footer__nav__list {
		display: flex;
		gap: 2rem;
		margin: 0;
	}

	.footer__nav__list__item {
		margin: 1.5rem 0 0;
	}

	.footer__logo {
		margin: 0;
	}

	.footer__nav__list__item > a {
		position: relative;
		padding: .5rem 0;
	}

	.footer__nav__list__item > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
		max-width: 2rem;
    height: 3px;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    transition: width .25s ease;
  }

	.footer__nav__list__item > a:hover::after {
		width: 100%;
	}

	.footer__social-links {
		justify-content: flex-end;
	}

	.footer__social-link {
		position: relative;
		padding: .5rem 0;
	}

	.footer__social-link::after {
		content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
		max-width: 2rem;
    height: 3px;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    transition: width .25s ease;
	}

	.footer__social-link:hover::after {
		width: 100%;
	}

	.footer__copyright {
		margin: 1.5rem 0 0;
	}

	.attribution {
		padding: 1.5rem 0;
	}
}
